
.form{
    &__input{
        height: 100%;
        padding: 0 var(--gap);

        border-radius: $radius;
        caret-color: $red;
        color: $white;
        background-color: darken($black, 12);
    }
    &__submit{
        position: absolute;
        right: 0;
        padding: 0 20px;
        cursor: pointer;
        opacity: .6;

        &:hover{ .form__icon{ fill: $white; } }
    }
        &__icon{
            fill: $gray;
            width: 25px;
            height: 25px;
        }
}